html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Great Vibes";
    src: url(/fonts/GreatVibes-Regular.ttf) format("truetype");
}

/* Default font */
html * {
    font-family: "Bebas Neue";
}

/* Default Colors */
h1 {
    color: #FFC72C; /* ETSU Gold */
}

a {
    color: #C6AA76; /* Old Gold */
}

p, ul , li {
    color: white;
}

label {
    color: white
}

/* Color and font classes */
.color-etsu-navy {
    color: #00053E;
}

.color-etsu-gold {
    color: #FFC72C;
}

.color-medium-blue {
    color: #002855;
}

.color-dark-blue {
    color: #0C2340;
}

.color-old-gold {
    color: #C6AA76;
}

.font-great-vibes {
    font-family: "Great Vibes";
}

.game-item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.game-title {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.game-thumbnail {
    display: block;
    margin: 0 auto;
}

/* Popup container */
.popup {
    position: relative;

    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    max-width: 700px;
    min-width: 300px;
    width: 80%; 
    height: 85%;
    overflow-y: auto; 
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0px;
    border: solid;
    border-color: black;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.close-btn:hover {
    color: darkred;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.preview-image img {
    width: 100%; 
    height: auto; 
}

.leaderboard-items {
    padding-left: 0; 
    list-style-position: inside; 
}

.leaderboard-items li {
    color: black;
}

.leaderboard-text {
    color: black;
    font-size: 30px;
}
